*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
html,body,.container{
    width: 100%;
    height: 100vh;
    background-color: rgb(240, 247, 247);
}
.container{
    display: flex;
    align-items: center;
    width: 65%;
    margin: auto;
    justify-content: space-between;
}
.text{
    width: 55%;
    margin-top: -140px;
    
}
.text h1{
    color: rgb(61, 91, 226);
    font-size: 55px;
}
.text p{
    margin-top: 20px;
    font-size: 30px;
}

.form{
    background-color: rgba(255,255,255,0.7);
    width:420px;
    height: 50%;
    margin-left: 60px;
    display: flex;
    justify-content: space-around;
    border-color: rgba(255,255,255,0.7);
    border-width: 0.5px;
    border-radius: 7px;
    margin-top: -50px;
    box-shadow: 1px 1px  rgb(196, 195, 195);
  
}

#text{
    width: 370px;
    border-radius: 7px;
    padding: 15px 8px;
    font-size: large;
    border-width: 0.5px;
    margin:20px 10px 15px 10px ;
    border-color: rgb(217, 216, 216);
}
#password{
    width: 370px;
    border-radius: 7px;
    padding: 15px 8px;
    font-size: large;
    border-width: 0.5px;
    border-color: rgb(217, 216, 216);
    margin: 0 10px 15px 10px;
}
#login{
    width: 390px;
    border-radius: 7px;
    padding: 15px 8px;
    font-size: large;
    background-color:  rgb(61, 91, 226);
    margin: 0 10px 15px 10px;
    color: white;
    border-width: 0.5px;
    border-color:   rgb(61, 91, 226);

}
.insideform #firstp{
   
   display: flex;
   justify-content: space-around;
   width: 390px;
   margin: auto;
   border-bottom: 0.5px solid rgb(210, 210, 210);
   padding-bottom: 25px;
}
.insideform #firsta{
    text-decoration: none;
    color: rgb(61, 91, 226);
}
.insideform #secondp{
   
    display: flex;
    justify-content: space-around;
    width: 170px;
    margin: auto;
    background: rgb(20, 165, 37);
    margin-top: 20px;
    padding: 13px 13px;
    border-radius: 7px;
   
    
 }
.insideform #seconda{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
}
#thirdp{
    color: black;
    font-size: 15px;
    display: flex;
    justify-content: center;
    
}
#thirda{
    text-decoration: none;
    color: black;
}





